In [12]:
import pandas as pd

In [13]:
weather_alarms = pd.read_csv('data/df_weather+alarms_merged_v7.csv')

In [14]:
tfidf_vectors = pd.read_csv('data/0_isw_data_collection/3_isw_vectorised_with_date.csv')

In [15]:
tfidf_vectors = tfidf_vectors.drop(columns=['Unnamed: 0'],axis=1)
weather_alarms = weather_alarms.drop(columns=['Unnamed: 0'],axis=1)
weather_alarms = weather_alarms.drop(columns=['city_resolvedAddress'],axis=1)

In [16]:
weather_alarms.head()

,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,day_solarradiation,...,event_feature_number_of_region,event_within_24_hours,event_feature_number_of_alarms_within_24_hours,event_start_hour,event_end_hour,event_day_date,event_start_hour_datetimeEpoch,event_end_hour_datetimeEpoch,event_hour_level_event_time,event_hour_level_event_datetimeEpoch
0,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
weather_alarms = weather_alarms.rename(columns={"day_datetime": "date"})

In [18]:
tfidf_vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,7392,7393,7394,7395,7396,7397,7398,7399,7400,date
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-26
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-27
3,0.0,0.0,0.0,0.0,0.0,0.023238,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-28
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.033858,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-01

In [19]:
merged_df = pd.merge(weather_alarms, tfidf_vectors, on='date', how='left')

In [20]:
merged_df.head(100)

,date,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,day_solarradiation,...,7391,7392,7393,7394,7395,7396,7397,7398,7399,7400
0,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-02-27 00:00:00,1645912800,4.6,-0.7,1.4,-3.3,72.4,0.0,0.0,122.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,136.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,136.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,136.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,136.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
merged_df.shape

(203420, 7461)

In [ ]:
merged_df.to_csv('data/final_dataset_ready_to_train.csv')