In [1]:
import pandas as pd

In [2]:
weather_alarms = pd.read_csv('data/df_weather+alarms_merged_v3.csv')

In [3]:
tfidf_vectors = pd.read_csv('data/0_isw_data_collection/3_isw_vectorised_with_date.csv')

In [4]:
tfidf_vectors = tfidf_vectors.drop(columns=['Unnamed: 0'],axis=1)
weather_alarms = weather_alarms.drop(columns=['Unnamed: 0'],axis=1)
weather_alarms = weather_alarms.drop(columns=['city_resolvedAddress'],axis=1)

In [5]:
weather_alarms.head()

,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,day_solarradiation,...,event_feature_number_of_region,event_within_24_hours,event_feature_number_of_alarms_within_24_hours,event_start_hour,event_end_hour,event_day_date,event_start_hour_datetimeEpoch,event_end_hour_datetimeEpoch,event_hour_level_event_time,event_hour_level_event_datetimeEpoch
0,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
weather_alarms = weather_alarms.rename(columns={"day_datetime": "date"})

In [7]:
tfidf_vectors.head()

,0,1,2,3,4,5,6,7,8,9,...,7392,7393,7394,7395,7396,7397,7398,7399,7400,date
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-26
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-27
3,0.0,0.0,0.0,0.0,0.0,0.023238,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-28
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.033858,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-01

In [ ]:
merged_df = pd.merge(weather_alarms, tfidf_vectors, on='date', how='left')

In [ ]:
merged_df.head(100)

In [ ]:
merged_df.shape

In [ ]:
merged_df.to_csv('data/final_dataset_ready_to_train.csv')